<div mat-dialog-title>
    <h1>Nuevo {{endpoint}}</h1>
</div>
<form [formGroup]="ventasForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>DNI</mat-label>
                <input matInput type="text" placeholder="Ej. 12345678" formControlName="dni" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let item of cliOps | async" [value]="item.dni">
                        {{item.id}}
                    </mat-option>
                </mat-autocomplete>
                <mat-hint>8 numeros</mat-hint>
            </mat-form-field>
            <button mat-raised-button type="button" [mat-dialog-close]="false">Agregar cliente</button>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Producto</mat-label>
                <input matInput type="text" placeholder="Ej. Mueble de cedro" formControlName="producto" [matAutocomplete]="productos">
                <mat-autocomplete #productos="matAutocomplete">
                    <mat-option *ngFor="let item of proOps | async" [value]="item.nombre">
                        {{item.nombre}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Cantidad</mat-label>
                <input matInput type="number" placeholder="Ej. 2" formControlName="cantidad">
                <mat-hint>En unidades</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Actualizar' : 'Enviar'}}</button>
    </div>
</form>